/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties */
:root {
  --color-acapulco-cliffs: hsl(192 37% 48%);
  --color-surfin: hsl(192 54% 64%);
  --color-lusty-lavender: hsl(268 34% 53%);
  --color-spinel-stone-black: hsl(240 21% 20%);
  --color-dusty-chimney: hsl(240 10% 57%);
  --color-silverpine-cyan: hsl(192 90% 77%);
  --color-lavender-fragrance: hsl(268 100% 85%);
  --color-middys-purple: hsl(268 55% 71%);
  --color-dr-white: hsl(0 0% 98%);
  --color-white: hsl(0 0% 100%);
  --gradient-acapulco-cliffs: linear-gradient(
    hsl(192 37% 48% / 0.8955) 0%,
    hsl(192 37% 48% / 0.8955) 100%
  );
  --font-family-primary: "Red Hat Display", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;
  --font-weight-medium: 500;
  --font-weight-black: 900;
  --line-height-base: 1;
  --line-height-lg: 1.1;
  --line-height-xl: 1.125;
  --line-height-2xl: 1.444;
  --line-height-3xl: 1.625;
}

/* || Global styles */
body {
  background-color: var(--color-dr-white);
  color: var(--color-dusty-chimney);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-3xl);
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:is(a):focus-visible {
  outline: 0.3rem solid var(--color-spinel-stone-black);
  outline-offset: 0.3rem;
}

/* || Page container styles */
.page {
  max-width: 90rem;
  margin-inline: auto;
  overflow-x: hidden;
}

/* || Landmark section styles */
.section {
  padding-inline: 1.5rem;
}

.section--header {
  padding-block: 3rem;
}

.section--main {
  margin-top: 1.375rem;
}

.section--footer {
  margin-top: 11rem;
  padding-top: 5.75rem;
  padding-bottom: 4.5rem;
  background-image: var(--gradient-acapulco-cliffs),
    url("./assets/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section__inner {
  max-width: 69.375rem;
  margin-inline: auto;
}

.section__inner--center {
  display: flex;
  justify-content: center;
}

/* || Logo and link styles */
.logo {
  width: 7.4375rem;
  height: 1.75rem;
}

.link {
  transition: transform 0.2s ease-in-out 0s;
}

.link:hover {
  transform: scale(1.15);
}

/* || CTA styles */
.cta {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  color: var(--color-white);
  font-weight: var(--font-weight-black);
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}

.cta--acapulco-cliffs {
  background-color: var(--color-acapulco-cliffs);
}

.cta--acapulco-cliffs:hover {
  background-color: var(--color-surfin);
}

.cta--lusty-lavender {
  background-color: var(--color-lusty-lavender);
}

.cta--lusty-lavender:hover {
  background-color: var(--color-middys-purple);
}

.cta--small {
  padding-inline: 1.8125rem;
}

.cta__text--silverpine-cyan {
  color: var(--color-silverpine-cyan);
}

.cta__text--lavender-fragrance {
  color: var(--color-lavender-fragrance);
}

/* || Hero styles */
.hero {
  display: grid;
  justify-items: center;
  gap: 3rem;
}

.hero__image--left,
.hero__image--right {
  display: none;
}

.hero__image-wrapper {
  scale: 1.267;
}

.hero__intro {
  max-width: 28.5625rem;
}

.hero__intro > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.hero__title {
  color: var(--color-spinel-stone-black);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-lg);
}

.hero__actions {
  --flow-space: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* || Feature section styles */
.feature--main {
  margin-top: 9.25rem;
}

.feature--main > * + * {
  margin-top: var(--flow-space, 2rem);
}

.feature__label {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
  margin-inline: auto;
  background-color: var(--color-dr-white);
  border-radius: 50%;
  border: 0.0625rem solid hsl(240 10% 57% / 0.25);
}

.feature__label--fixed {
  margin-top: -7.5rem;
}

.feature__label::before {
  content: "";
  width: 0.0625rem;
  height: 5.25rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--color-dusty-chimney);
  opacity: 0.25;
}

.feature__number {
  font-size: inherit;
  font-weight: var(--font-weight-black);
}

.feature__image-list {
  --flow-space: 4rem;
  padding: 0;
  display: grid;
  gap: 1.5rem 1.5625rem;
  grid-template-columns: repeat(2, 1fr);
}

.feature__image {
  border-radius: 0.5rem;
}

.feature__title-group {
  --flow-space: 4rem;
}

.feature__title-group > * + * {
  margin-top: 1.5rem;
}

.feature__ribbon-text {
  color: var(--color-acapulco-cliffs);
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.feature__title {
  max-width: 27.8125rem;
  margin-inline: auto;
  color: var(--color-spinel-stone-black);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-xl);
}

.feature__title--white {
  --flow-space: 4rem;
  color: var(--color-white);
}

.feature__text {
  max-width: 35.8125rem;
  margin-inline: auto;
}

.feature__text--white {
  --flow-space: 1.5rem;
  color: var(--color-white);
}

.feature__text--large {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-2xl);
}

.feature__grid {
  margin-top: 4rem;
}

.feature__grid > * + * {
  margin-top: var(--flow-space, 2rem);
}

@media (min-width: 34rem) {
  .section {
    padding-inline: 2.5rem;
  }

  .section--main {
    margin-top: 1.6rem;
  }

  .section--footer {
    margin-top: 12rem;
    padding-bottom: 4.125rem;
    background-image: var(--gradient-acapulco-cliffs),
      url("./assets/tablet/image-footer.jpg");
  }

  .cta--footer {
    --flow-space: 2.5rem;
  }

  .hero {
    gap: 4.5rem;
  }

  .hero__image-wrapper {
    scale: 1.192;
  }

  .hero__title {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-base);
  }

  .hero__actions {
    flex-direction: row;
    justify-content: center;
  }

  .feature--main {
    margin-top: 10.25rem;
  }

  .feature__image-list {
    --flow-space: 4.1875rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.6875rem;
  }

  .feature__image-list-item {
    max-width: 10.25rem;
  }

  .feature__title-group {
    --flow-space: 3rem;
  }

  .feature__title-group > * + * {
    margin-top: 1rem;
  }

  .feature__title {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-lg);
  }

  .feature__text--white {
    --flow-space: 2rem;
  }
}

@media (min-width: 65rem) {
  .section--header {
    padding-block: 5rem;
  }

  .section--main {
    margin-top: 1.75rem;
  }

  .section--footer {
    margin-top: 11.5rem;
    padding-top: 7.25rem;
    padding-bottom: 6.5rem;
    background-image: var(--gradient-acapulco-cliffs),
      url("./assets/desktop/image-footer.jpg");
  }

  .cta--footer {
    align-self: center;
  }

  .hero {
    grid-template-columns: 3fr 8fr 3fr;
  }

  .hero__image {
    max-width: initial;
  }

  .hero__image--left {
    display: block;
    margin-left: -13rem;
    margin-top: -3rem;
  }

  .hero__image--right {
    display: block;
    margin-right: -13rem;
    margin-top: 0.5rem;
  }

  .hero__image-wrapper {
    display: none;
  }

  .hero__intro {
    max-width: initial;
  }

  .hero__title {
    max-width: 27.8125rem;
    margin-inline: auto;
    font-size: var(--font-size-4xl);
  }

  .hero__text {
    --flow-space: 2.125rem;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-2xl);
  }

  .feature__image-list {
    --flow-space: 4rem;
    gap: 1.875rem;
  }

  .feature--main {
    margin-top: 12rem;
  }

  .feature__label--fixed {
    margin-top: -9rem;
  }

  .feature__title-group {
    --flow-space: 5rem;
  }

  .feature__text {
    max-width: 33.75rem;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-2xl);
  }

  .feature__text--large {
    margin-left: 1rem;
  }

  .feature__grid {
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    column-gap: 5.75rem;
    text-align: left;
  }

  .feature__grid > * + * {
    margin-top: 0;
  }
}
