/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Custom properties */
:root {
  --color-acapulco-cliffs: hsl(192 37% 48%);
  --color-surfin: hsl(192 54% 64%);
  --color-lusty-lavender: hsl(268 34% 53%);
  --color-spinel-stone-black: hsl(240 21% 20%);
  --color-dusty-chimney: hsl(240 10% 57%);
  --color-silverpine-cyan: hsl(192 90% 77%);
  --color-lavender-fragrance: hsl(268 100% 85%);
  --color-middys-purple: hsl(268 55% 71%);
  --color-dr-white: hsl(0 0% 98%);
  --color-white: hsl(0 0% 100%);
  --font-family-primary: "Red Hat Display", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.5rem;
  --font-size-3xl: 3rem;
  --font-size-4xl: 4rem;
  --font-weight-medium: 500;
  --font-weight-black: 900;
  --line-height-base: 1;
  --line-height-lg: 1.1;
  --line-height-xl: 1.125;
  --line-height-2xl: 1.444;
  --line-height-3xl: 1.625;
}

/* || Global styles */
body {
  background-color: var(--color-dr-white);
  color: var(--color-dusty-chimney);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-3xl);
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:is(a):focus-visible {
  outline: 0.3rem solid var(--color-spinel-stone-black);
  outline-offset: 0.3rem;
}

/* || Page container styles */
.page {
  max-width: 90rem;
  margin-inline: auto;
  overflow-x: hidden;
}

/* || Landmark section styles */
.section {
  padding-inline: 1.5rem;
}

.section--header {
  padding-block: 3rem;
}

.section--main {
  margin-top: 0.375rem;
}

.section--footer {
  margin-top: 11rem;
}

.section__inner {
  max-width: 69.375rem;
  margin-inline: auto;
}

.section__inner--center {
  display: flex;
  justify-content: center;
}

/* || Logo and link styles */
.logo {
  width: 7.4375rem;
  height: 1.75rem;
}

.link {
  transition: transform 0.2s ease-in-out 0s;
}

.link:hover {
  transform: scale(1.15);
}

/* || CTA styles */
.cta {
  display: inline-block;
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  color: var(--color-white);
  font-weight: var(--font-weight-black);
  text-decoration: none;
  transition: all 0.2s ease-out 0s;
}

.cta--acapulco-cliffs {
  background-color: var(--color-acapulco-cliffs);
}

.cta--acapulco-cliffs:hover {
  background-color: var(--color-surfin);
}

.cta--lusty-lavender {
  background-color: var(--color-lusty-lavender);
}

.cta--lusty-lavender:hover {
  background-color: var(--color-middys-purple);
}

.cta--small {
  padding-inline: 1.8125rem;
}

.cta__text--silverpine-cyan {
  color: var(--color-silverpine-cyan);
}

.cta__text--lavender-fragrance {
  color: var(--color-lavender-fragrance);
}

/* || Hero styles */
.hero {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__image--split {
  display: none;
}

.hero__image-wrapper {
  margin-inline: -2.75rem;
}

.hero__intro > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.hero__title {
  color: var(--color-spinel-stone-black);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-lg);
}

.hero__actions {
  --flow-space: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* || Feature section styles */
.feature {
  margin-top: 9.25rem;
}

.feature > * + * {
  margin-top: var(--flow-space, 2rem);
}

.feature__label-group {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
  margin-inline: auto;
  background-color: var(--color-dr-white);
  border-radius: 50%;
  border: 1px solid hsl(240 10% 57% / 0.25);
}

.feature__label-group::before {
  content: "";
  width: 0.0625rem;
  height: 5.25rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--color-dusty-chimney);
  opacity: 0.25;
}

.feature__label {
  font-size: inherit;
  font-weight: var(--font-weight-black);
}

.feature__image-list {
  --flow-space: 4rem;
  padding: 0;
  display: grid;
  gap: 1.5rem 1.5625rem;
  grid-template-columns: repeat(2, 1fr);
}

.feature__image {
  border-radius: 0.5rem;
}

.feature__heading-group {
  --flow-space: 4rem;
}

.feature__ribbon {
  color: var(--color-acapulco-cliffs);
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.feature__heading {
  margin-top: 1.5rem;
  color: var(--color-spinel-stone-black);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-xl);
}
